#toast_box {
    position: fixed;
    bottom: 3rem;
    right: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 15px;
}
.toast{
    position: relative;
    width: 20rem;
    height: 3rem;
    background-color: whitesmoke;
    font-weight: 500;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);

    display: flex;
    align-items: center;
    justify-content: flex-start;


    padding: 1rem;
    border-radius: 5px;
    margin: 0.5rem;

}
.toast i {
    margin: 0 15px;
    font-size: 1.3rem;
    color: green;
    text-align: center;
}
.fail i{
    color: red;
}
.invalid i{
    color: yellow;
}

.toast::after{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    animation: anim 4.5s linear forwards;
}
.toast.fail::after{
    background-color: red;
}
.toast.invalid::after{
    background-color: yellow;
}

@keyframes anim{
    100%{
        width: 0;
    }
}